rancher_api_url="https://rancher.10.10.10.10.nip.io/v3"
rancher_bearer_token="token-abcde:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
rancher_insecure="true"
namespace="martin"
image="martin"
clustername="martin"
ssh_user="rancher"
vlan="harvester-public/vlan-1000"
harvester_cluster_id="c-m-xxxxxxxx"
