rancher_api_url="https://rancher.10.10.10.10.nip.io/v3"
rancher_baerer_token="token-abcde:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
rancher_insecure="true"
namespace="default"
image="sles15sp5-minimal-cloud"
image_url="https://download.opensuse.org/repositories/home:/mweiss2:/branches:/SUSE:/Templates:/Images:/SLE-15-SP5/images/SLES15-SP5-Minimal-VM.x86_64-Cloud-Build5.1.qcow2"
